@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease;
    
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(32, 24, 24, 0.7);
    z-index: -1;
}


.slider-container {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),0 3px 6px rgba(0, 0, 0, 0.23);
    width: 75vw;
    overflow: hidden;
    height: 75vh;
    position: relative;
}

.slide {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    top: -12.5vh;
    left: -12.5vw;
    transition: 0.3s ease;
}

.slide.active {
    opacity: 1;
}

.arrow {
    position: fixed;
    top:50%;
    background: transparent;
    border: none;
    font-size: 3rem;
    color: white;
    border: 4px solid #fff;
    border-radius: 4px;
    padding: 0.5rem;
    cursor: pointer;
    transition: 200ms;
}

.arrow:hover {
    background-color: #fff;
    color: lightskyblue;
    
}

.arrow.left-arrow {
    transform: translateX(-100%) translateY(-50%);
}

.arrow.right-arrow {
    transform: translateX(100%) translateY(-50%);
    right: 12.5vw;
}


