* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden ;
    background: #2c3e50;
}

.kinetic {
    position: relative;
    height: 80px;
    width: 80px;
}

.kinetic::before,.kinetic::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border: 50px solid transparent;
    border-bottom-color: #fff;
    animation: animateA 2s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s infinite ;
}

.kinetic::before{
    transform: rotate(90deg);
    animation: animateB 2s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite ;
}

@keyframes animateA {
    0%, 25% {
        transform: rotate(0);
    }
    50%, 75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg); 
    }
}

@keyframes animateB {
    0%, 25% {
        transform: rotate(90);
    }
    50%, 75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(450deg); 
    }
}
