@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.carousel {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 30px;
}

.buttons-container button {
  border: none;
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  width: 49.75%;
  outline: none;
  cursor: pointer;
  font-family: "Rubik";
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease, color 0.3s ease;
  font-weight: bolder;
  letter-spacing: 1px;
}
.buttons-container button:hover {
  background-color: #fff;
  color: #000;
}
