@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden ;
}


.bg {
    background: url(https://images.unsplash.com/photo-1639150268396-b07af8694049?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=finn-mund-YGDZs4JdOuo-unsplash.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(2);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(30px);
}

.loading-text {
    font-size: 50px;
    color: #fff;
}