@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden ;
    background-color: #0b8099;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
    color: white;
}

.counter {
    font-size: xx-large;
    padding: 10px;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
}